<div class="container container--footer">
  <ul>
    <li class="social-icon social-icon--twitter"><a target="_blank" href="https://twitter.com/marcelkalveram">Twitter</a></li>
    <li class="social-icon social-icon--facebook"><a target="_blank" href="https://www.facebook.com/marcel.kalveram">Facebook</a></li>
    <li class="social-icon social-icon--linkedin"><a target="_blank" href="https://www.linkedin.com/in/marcelkalveram/">LinkedIn</a></li>
    <li class="social-icon social-icon--instagram"><a target="_blank" href="https://www.instagram.com/marcelkalveram/">Instagram</a></li>
    <li class="social-icon social-icon--github"><a target="_blank" href="https://github.com/marcelkalveram">Github</a></li>
    <li class="social-icon social-icon--stackoverflow"><a href="https://stackoverflow.com/users/1372110/marcel-kalveram">Stack
        Overflow</a></li>
  </ul>
</div>

<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>